<div class="container m-2 mx-4">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Image</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage [src]="image_url" id="myImage">
    <mat-card-actions>
      <button mat-button (click)="goBack()">
        Go back
        <mat-icon>history</mat-icon>
      </button>
      <a mat-raised-button color="primary" href="image_url" download="KhoPhi Photography Photo.jpg">
        <mat-icon class="mat-18">file_download</mat-icon>
        Download</a>
      <button mat-raised-button (click)="goFullScreen()">
        <mat-icon>fullscreen</mat-icon>
        Fullscreen</button>
    </mat-card-actions>
  </mat-card>
</div>
