<div fxLayout="row" fxLayoutAlign="center center" class="mt-5">
  <div fxFill fxFlex.sm="80" fxFlex.md="60" fxFlex.lg="50" class="mx-4">
    <p class="mat-display-1 mt-5">
      Not Found
    </p>
    <p class="mat-h2">The page you came looking for ain't here.</p>
    <p class="text-muted">Recent research indicates staring at a white screen is soothing. <br>You may keep staring at this screen for some therapy.</p>
    <mat-divider class="my-3"></mat-divider>
    <a mat-raised-button [routerLink]="['/']" color="primary">Go Home</a> 
  </div>
</div>
