<div class="container my-4 mx-2">
  <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="center" class="text-center" *ngIf="!busy && !contact">
    <p class="mat-display-1">No Contact</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="contact">
    <div fxFlex.sm="80" fxFlex.lg="50" fxFlex.md="70">
      <mat-card>
        <mat-card-title>{{ contact.title }}</mat-card-title>
        <mat-card-content>
          {{ contact.content }}
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="contact.link">
          <a mat-button href="contact.link">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-grid-list cols="1" rowHeight="100vh" *ngIf="contact?.cover?.url" class="mt-4">
    <mat-grid-tile>
      <mat-grid-tile-header>{{ contact.cover.name }}</mat-grid-tile-header>
      <img src="{{ CMS }}/{{ contact.cover.url }}">
    </mat-grid-tile>
  </mat-grid-list>
</div>
