<div class="container my-4 mx-2">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="contact">
    <div fxFlex.sm="80" fxFlex.lg="50" fxFlex.md="70">
      <mat-card>
        <mat-card-title>{{ contact.title }}</mat-card-title>
        <mat-card-content>
          {{ contact.content }}
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-button>Learn more</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-grid-list cols="1" rowHeight="100vh" *ngIf="contact?.cover?.url" class="mt-4">
    <mat-grid-tile>
      <mat-grid-tile-header>{{ contact.cover.name }}</mat-grid-tile-header>
      <img src="{{ CMS }}/{{ contact.cover.url }}">
    </mat-grid-tile>
  </mat-grid-list>
</div>
