<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top">
    <div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div>
        <a>
          <img width="100" style="border-radius: 50%;" src="../../assets/images/profile-pic.jpg">
        </a>
      </div>
    </div>
    <div style="background-color: #3e50b5 !important;" class="mt-2 py-1 text-white" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutGap="7px">
      <div>
        <a>
          <span class="lead">Nkansah Rexford</span>
        </a>
      </div>
    </div>
    <div class="mt-1">
        <!-- HOME
        ABOUT ME
        BOOK APPOINTMENT
        CONTACT ME
        FAQ
        TERMS OF SERVICE -->
      <mat-nav-list>
        <a [routerLink]="['/']" mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">
          <mat-icon class="mr-3">home</mat-icon> Home
        </a>
        <a [routerLink]="['/about']" mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">
          <mat-icon class="mr-3">account_circle</mat-icon>
          About
        </a>
        <a [routerLink]="['/help']" mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">
          <mat-icon class="mr-3">help</mat-icon>
          Book Appointment
        </a>
        <a [routerLink]="['/how-it-works']" mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">
          <mat-icon class="mr-3">tune</mat-icon>
          Contact Me
        </a>
        <a [routerLink]="['/faq']" mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">
          <mat-icon class="mr-3">question_answer</mat-icon>
          FAQs
        </a>
        <a mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle(); showMobile()">
          <mat-icon class="mr-3">get_app</mat-icon>
          Download App
        </a>
      </mat-nav-list>
      <mat-accordion multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <mat-panel-title>
              <mat-icon class="mr-3">more_vert</mat-icon>
              More
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <a [routerLink]="['/privacy']" (click)="sidenav.toggle()" mat-list-item>
              <a>Privacy</a>
            </a>
            <a [routerLink]="['/terms']" (click)="sidenav.toggle()" mat-list-item>
              T&C
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">
      <button mat-icon-button (click)="sidenav.toggle()" title="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-icon-button [routerLink]="['/']" title="Home" fxShow.xs fxHide.gt-xs>
        <mat-icon>home</mat-icon>
      </a>
      <a mat-icon-button routerLink="/about" title="Recent Requests" fxShow.xs fxHide.gt-xs>
        <mat-icon>account_circle</mat-icon>
      </a>
      <button mat-mini-fab color="secondary" routerLink="/new" title="New Request" fxShow.xs fxHide.gt-xs class="ml-2">
        <mat-icon>add</mat-icon>
      </button>
      <a mat-button [routerLink]="['/']" title="Home" fxHide.xs>
        <mat-icon class="mr-0">home</mat-icon>
        Home
      </a>
      <a mat-button routerLink="/all" title="Recent Requests" fxHide.xs>
        <mat-icon class="mr-0">account_box</mat-icon>
        About
      </a>
      <a class="ml-2" mat-flat-button routerLink="/new" color="secondary" title="New Request" fxHide.xs>
        <mat-icon class="mr-0">contacts</mat-icon>
        Contact
      </a>
      <span class="spacer"></span>
      <!-- <a [routerLink]="['/about']" mat-icon-button title="about" class="mr-1">
        <mat-icon aria-label="Example icon-button with a heart icon">help</mat-icon>
      </a> -->
      <button mat-icon-button class="ml-2" title="Logout" style="cursor: pointer" >
        <mat-icon> power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
