<div class="container my-4">
  <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="center" class="text-center" *ngIf="!busy && !about">
    <p class="mat-display-1">No About</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="about">
    <div>
      <img src="{{ CMS }}/{{ about.cover?.url }}" width="300">
    </div>
    <div fxFlex.sm="80" fxFlex.lg="50" fxFlex.md="70" fxFlex.xs="95">
      <mat-card>
        <mat-card-title>{{ about.title }}</mat-card-title>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
        <mat-card-content>
          {{ about.content }}
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>Learn more</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
