<div class="container my-4 mx-2">
  <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
  <h3 class="mat-display-1 mb-0">Love for...</h3>
  <mat-divider class="mb-2"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start" class="text-center" *ngIf="!busy && !categories?.length">
    <p class="mat-display-1">No Categories</p>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <mat-card fxFlex.xs="100" fxFlex.sm="90" fxFlex.md="40" fxFlex.lg="20" *ngFor="let category of categories" class="mb-2">
      <mat-card-title>{{ category.title }}</mat-card-title>
      <img matCardImage src="{{ CMS }}/{{category.cover.url}}">
      <mat-card-actions align="end">
        <a mat-button color="primary" [routerLink]="['/category', category.slug]">View</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- <mat-grid-list cols="4" rowHeight="200" gutterSize="20">
    <mat-grid-tile >
      <a mat-button  class="m-0 p-0">
        <mat-grid-tile-header></mat-grid-tile-header>
        <img height="300"  alt="Photo of a Shiba Inu">
      </a>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>

<div class="mx-2 mt-5">
  <h3 class="mat-display-1 mb-0">Recent works</h3>
  <mat-divider class="mb-2"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start" class="text-center" *ngIf="!busy && !recent?.length">
    <p class="mat-display-1">No Recent Works</p>
  </div>
  <mat-grid-list cols="2" rowHeight="300" gutterSize="10">
    <mat-grid-tile *ngFor="let article of recent">
      <a mat-button [routerLink]="['/article', article.slug]" class="m-0 p-0">
        <mat-grid-tile-header>{{ article.title }}</mat-grid-tile-header>
        <img height="300" src="{{ CMS }}/{{article.cover?.url}}" alt="Photo of a Shiba Inu">
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
