<div class="container my-4">
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="mx-2">
    <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
    <div fxFlex.lg="50" fxFlex.md="60" fxFlex.sm="70" fxFlex.xs="90">
      <mat-card *ngIf="!busy && article">
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>{{ article.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage src="{{ CMS }}/{{ article.cover.url }}">
        <mat-card-content class="mat-body">
          {{ article.content }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!busy && article" class="mt-4 mx-2">
    <mat-grid-list cols="3" rowHeight="300" gutterSize="20">
      <mat-grid-tile *ngFor="let image of article.gallery">
        <a [routerLink]="['/image', image.url.split('/')[2], article.slug]" mat-button class="m-0 p-0">
          <mat-grid-tile-header>{{ image.name }}</mat-grid-tile-header>
          <img height="300" src="{{ CMS }}/{{image.url}}" alt="Photo of a Shiba Inu">
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
